*,
*:after,
*:before {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.blue {
    background: #2abdfc;
    color: #fff;
}

.navbar {
    padding: 10px 10%;
}

#logo {
    display: inline-block;
    margin-top: 7px;
    color: #fff;
}

#link {
    color: #fff;
    font-weight: bold;
    margin: 0 10px;
}

i {
    margin: 0 7px;
}

#sidebarCollapse {
    color: #fff;
    background: transparent;
    outline: none;
    margin: 0 20px;
}

#sidebarCollapse:hover {
    color: #2abdfc;
    background: #fff;
    outline: none;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    margin-top: 70px;
    background: #6a76f8;
    color: #fff;
    height: auto;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6a76f8;
}

#sidebar ul.components {
    padding: 20px 0px;
}

#sidebar ul p {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a {
    padding: 10px 10px 10px 20px;
    font-size: 1.1em;
    display: block;
    color: #fff;
    font-weight: bold;
}

#sidebar ul li a:hover {
    color: #6240bd;
    background: #fff;
    text-decoration: none;
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
    color: #fff;
    background: #8a5fff;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

#content {
    width: 100%;
    padding: 40px;
    min-height: 100vh;
    transition: all 0.3s;
    margin-top: 70px;
    display: block;
    position: relative;
}

@media (max-width:800px) {
    #sidebar {
        margin-left: -250px;
    }

    #sidebar.active {
        margin-left: 0px;
    }

    #sidebarCollapse span {
        display: none;
    }

    .card {
        width: 100%;
    }
}

@media (max-width:400px) {
    #sidebar {
        margin-top: -20px;
    }

    #logo {
        display: none;
    }

    .login {
        padding-top: 50%;
    }
}

.login {
    align-content: center;
    text-align: center;
    position: relative;
    padding-top: 20%;
}

.selected {
    background-color: black;
}

body {
    background-image: url(../img/back_login.jpg);
    background-repeat: no-repeat;
    height: auto;
    background-size: auto;
    background-position: fixed;
    position: fixed;
}

div#contenido {
    width: auto;
    margin-right: 40px;
    height: 100%;
    overflow: hidden;
    position: fixed;
}

div#depositar,
div#consultar,
div#retirar,
div#servicios {
    height: 100%;
    overflow: auto;
    width: 100%;
}

.texto {
    background-color: white;
    padding: 1%;
    margin: 1%;
    border-radius: 20px;
    width: 75%;
    position: fixed;
}

.card {
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    background-color: #f4eeee;
    text-align: center;
    align-content: center;
    justify-content: center;
    margin: 0 auto;
}

.card-img-top {
    max-width: 100px;
    height: 100px;
    border-radius: 1%;
}

.card .btn {
    display: block;
    width: 100%;
    padding: 8px;
    text-align: center;
    background-color: rgb(84, 219, 21);
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.card .btn:hover {
    color: rgb(59, 243, 39);
    border: 3px solid rgb(10, 246, 21);
    font-weight: bold;
    background-color: transparent;
    transition: all 3.s;
}
.contenedor {
  background: #EEE;
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
}

.elemento {
 position: fixed;
top: 50%;
left: 50%;
-webkit-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
}